* {
    text-decoration: none;
    list-style: none;
    font-family: eina-regular;
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}



:root {
    --white: #f5f5f5;
    --light-blue: #00bffc;
    --light-green: #0396a6;
    --dark-green: #026873;
    --main-blue: #075473;
    --project-blue: #05405f;
    --black: #020726;
}

@font-face {
    font-family: Eina-regular;
    src: url("../font/Eina01-Regular.ttf");
}

/* body {
    display:grid;
    grid-template-rows: 150px 1fr 1fr 500px;
    height:100vh;
    grid-template-areas:
    "header header"
    "video video"
    "projects projects"
    "footer footer";
} */

body {
    display: flex;
    flex-direction: column;
}

/* HEADER */

header {
    background-color: var(--main-blue);
    /* grid-area: header; */
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.logo {
    width: 100px;
    margin-left: 15px;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-blue);
    display: none;
    z-index:10;
}

.logo-mobile-menu{
    width:150px;
}

.fa-bars {
    color: var(--white);
    margin-right: 15px;
    font-size: 1.3rem;
}

.fa-xmark {
    /* display:none; */
    font-size: 1.3rem;
    color: #f5f5f5;
    z-index: 99;
    position: fixed;
    top: 40px;
    right: 20px;
}

.menu ul {
    text-align: center;
}

.menu a {
    color: var(--white);
}

.menu li {
    margin: 50px;
}

/* VIDEOS  */

.video-container {
    position:relative;
    width: 100%;
}


.video-container video {
    object-fit: cover;
    width: 100%;
    
}

.video-banner{
    padding: 15px;
    background-color: var(--light-green);
    position:absolute;
    width:100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.video-banner h1{
    color: var(--white);
    text-align: center;
    font-size: 1.2rem;
    /* text-shadow: 0px 1px 1px var(--black); */
}

/* First section after video banner */


.first-text-section{
    /* width:100vw; */
    background-image: url("../img/first-section-index-mobile.jpg");
    height:210px;
    background-position: center;
    background-size:cover;
    margin-top:-10px;
    

}

.text-area-first-section{
    max-width:200px;
    text-align: center;
    color:var(--white);
    display:block;
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight:bold;
    height:150px;
    position:relative;
    top:50px;
}

.text-area-first-section p{
    margin-bottom:30px;
    text-shadow: 1px 1px 1px var(--black);    
}

.btn-projects{
    padding: 10px 30px;
    margin:15px;
    border: solid 1px var(--light-blue);
}

.btn-projects:hover{
    border:solid 1px var(--white);
}

.text-area-first-section a{
    color:var(--white);
    background-color: linear-gradient((45deg, blue, red))
}
.mid-section{
    /* width:100vw; */
    height:500px;
    background-image: url("../img/mid section background.jpg");
    background-position: center;
    background-size:cover;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.mid-section img{
    width:100px;
    margin-top:50px;
}

.mid-text-container{
    max-width:70%;
    color:var(--white);
    text-align: center;
    font-weight: bold;
}

.mid-section > * {
    margin:20px;
}

.fa-chart-simple, .fa-database{
    padding:15px;
    color:var(--white);
    font-size:2rem;
    border:solid 2px var(--white);
    border-radius: 50%;
}

.icons-container{
    display:flex;
    justify-content: space-between;
}

.icon-sub{
    margin-top:10px;
}

.icons-mid-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-size:12px;
    margin:20px;
}

/* Section-dashboard */

.lower-mid-container{
    display:flex;
    background-color:var(--black);
    height:750px;
    /* width:100vw; */
    flex-direction: column;
}

.section-dashboard{
    width:85vw;
    height: 300px;
    background-color: var(--light-green);
    color: var(--white);
    text-align: center;
    margin:0 auto;
    font-weight: bold;
    margin-top:-40px;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.5));
}

.section-dashboard p{
    margin: 20px 5px;
    /* font-size:1rem; */


}

.section-dashboard img{
    max-width:80%;
    object-fit: contain;
    max-height:200px;
}

.data-vis-section{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:var(--white);
    text-align: center;
}

.data-vis-section > *{
    margin:20px;
}

.btn-contact{
    padding: 10px 30px;
    border:solid var(--light-blue) 1px;
    color:var(--white);
    background: linear-gradient(#075473 0%, 30%, #042A3A 50% 100%);

}

.btn-contact:hover{
    color:var(--white);
    border:solid var(--white) 1px;
}

/* a:visited{
    color:var(--white);
} */

/* a {
    color:var(--white);
} */



.data-vis-section h3{
    color:var(--light-blue);
}

.data-vis-section img{
    max-width: 100px;
}











/* PROJECTS  */

.api-container{
    display:flex;
    height:500px;
    max-width:300px;
}

.api-container img {
    object-fit: contain;
    max-width: 200px;
    /* grid-area: projects; */
}







footer {
    /* grid-area: footer; */
    background: linear-gradient(0.25turn, #00242b, 20%, #004c5d);
    /* background: linear-gradient(to right, */
    /* var(--light-blue) 20%, var(--light-green) 20% 40%, var(--dark-green) 40% 60%, var(--main-blue) 60% 80%, var(--project-blue) 80%); */
    /* margin-top:50px; */
}


.footer-content > *{
    margin: 20px;
    text-align: center;
    color:var(--white);
}
.footer-content p{
    margin: 10px;
}

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.footer-content h3{
    color:var(--white);
    text-align: center;

}

.footer-content img {
    width: 200px;
}

.footer-links p {
    color: var(--light-blue);
}

.org-number{
    color: var(--white);
}

.address span{
    font-weight: bold;
}


/* Carousel */


.carousel {
    align-items: center;
    display: flex;
    margin: 2rem auto;
    overflow: hidden;
    position: relative;
    max-width: 400px;
    height: 500px;
    position: relative;
}

.slide > img {
    display: block;
    max-width: 400px;
    width:100%;
    object-fit: cover;
    /* object-position: center; */
}



.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}


.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, .5);
  cursor: pointer;
  border-radius: .25rem;
  padding: 20px;
  background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}



/* om_oss.html */

.om-oss-body{
    background-color: var(--main-blue);
}


.om-oss-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);

}

.om-oss{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* width:400px; */
    min-width:300px;
    max-width:500px;
}



.om-oss > *{
    margin:20px;
    color:var(--white);

}

.om-oss p{
    font-size: 14px;
}

.om-oss img{
    max-width:300px;

}

.om-oss h1, .om-oss h2{
    font-size:1.3rem;
}



/* CONTACT.HTML */

.contact-text-container{
    background-color: var(--project-blue);
    color:var(--project-blue);
    width:100%;
}

.container-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    background-color: var(--project-blue);
    color:var(--white);
}

.contact-text{
    display:flex;
    flex-direction: column;
    background-color: var(--project-blue);
    color:var(--white);
    width:80%;
    margin: 0 auto;
}

.contact-text h1{
    margin:20px 0px;
    text-align: center;
    font-size:1.2rem;

}

/* form h2{
    text-align: center;
}

form{
    width:100%;
    display:flex;
    flex-direction:column;

}


form > * {
    margin:5px;
}
form h1{
    text-align: center;
    font-weight:normal;
}

input {
    height:50px;
    
} */


/* SPESIFIC-PROJECT.HTML */

.banner-container{
    width:100%;
    height:200px;
    background-image:url("../img/pexels-aleksejs-bergmanis-681335 (1).jpg");
    background-repeat: no-repeat;
    /* background-position: center;  */
    background-repeat: no-repeat;
    background-size: cover; 

}

.spesific-project-main{
    background-color: var(--project-blue);

    
}

.banner-container h1{
    padding:15px;
    width:75%;
    margin:0 auto;
    text-align: center;
    position:relative;
    top:85px;
    color:var(--white);
    background-color:var(--light-green) ;

}

.text-content-project{
    width:80%;
    margin:0 auto;
    color:var(--white)
}


.text-content-project p{
    margin:20px;
}

.modal-image-container{
    width:80%;
    margin:0 auto;
}

.modal-image-container img{
    object-fit: cover;
    width:100%;
    max-height:500px;
}

.modal-popup{
    position:fixed;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    display:none;
    z-index:2;
}

.close-modal {
    position:absolute;
    top:0;
    left:90%;
    font-weight: bold;
    z-index:3;
    color:var(--white);
    font-size:4rem;
    margin-right:20px;
    cursor:pointer; 
    
}

.modal-popup img{
    position:absolute;
    top:50%;
    left:50%;
    width:100%;
    transform: translate(-50%, -50%);
    object-fit:cover;
}



/* PROJECTS.HTML */

.project-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    /* margin-top:50px; */
    background-color: var(--white);
    background-color: var(--main-blue);
}

.project-container h1{
    margin:20px;
    color:var(--white);
    
    text-transform:uppercase;

}

.project-items{
    width:300px;
    height:450px;
    display:flex;
    flex-direction:column;
    align-items: center;
    color:var(--white);
    margin:20px;
    
}

.project-img {
    width:300px;
}

.project-img img{
    width:100%;
    /* width:300px; */
    height:300px;
}


.project-card{
    background-color: var(--dark-green);
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:-5px;
    width:100%;
    height:150px;
}


.project-card h3{
    margin:20px;
}


.project-container > a:nth-child(odd) > div:nth-child(odd) > div:nth-child(even){
    background-color:var(--light-green);
}

.more{
    margin: 30px;
}

/* CONTACT.HTML */

.contact-body{
    background-color:var(--main-blue);
}

.contact-main{
    display:flex;
    flex-direction: column-reverse;
    align-items: center;
}

.contact-container h1{
    color:var(--white);
}

.contact-container{
    display:flex;
    position: relative;
    flex-direction: column;
    width:100%;
    margin:20px;
    align-items: center;
    max-width:300px;
}


.text-container-contact h2{
    text-align: center;
    margin: 10px 0px;
}

.subject-email{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.text-container-contact{
    width:90%;
    display:flex;
    flex-direction: column;
    margin:0 auto;
    margin:10px;
    max-width:500px;
    color:var(--white);
}


.field{
    width:100%;
    height:40px;
    margin: 5px 0px;
    /* background-color:var(--main-blue); */
}

.text-area {
    max-width:100%;
    min-width:100%;
    max-height:150px;
    min-height:150px;
}

.form-item{
    width:100%;
}



.form-error{
    color:#e74c3c;
    font-weight: bold;
    display:none;
}

.message-success{
    background-color:#2ecc71;
    padding:35px;
    /* position:absolute; */
    width:100%;
    top: 0px;
    color:var(--white);
    width:100%;
    text-align: center;
    display:none;
    flex: 3;
    
}

.message-success p{
    margin:10px;
}




@media only screen and (min-width: 750px) {

    /* CONTACT DESKTOP */

    .contact-container{
        width:75%;
        margin:50px;
        max-width:600px;
    }


    .text-container-contact{
        width:50%;
        margin:50px;
    }

    .field{
        height:35px;
        margin: 10px 0px;
    }


    .contact-main{
        flex-direction: row;
        margin:0 auto;
    }

    .btn-contact-form{
        width:100px;
    }

    .text-area {
        max-height:250px;
    }

    .sec-para{
        margin:25px 0px;
    }


    /* INDEX DESKTOP */

    .menu-item{
        transition: transform .2s;
    }

    .menu-item:hover{
        transform: scale(1.5);
    }

    .fa-bars, .fa-xmark{
        font-size:2rem;
    }

    .logo{
        width:150px;
    }

    .video-container{
        height:500px;
        
    }

    .video-container video{
        height:500px;
    }

    .video-banner{
        max-width:750px;
    }

    .video-banner h1{
        font-size:2rem;
    }

    .first-text-section{
        background-image: url("../img/first-section-index.jpg");
    }









}

